* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 100%;
}

.search-input {
    position: relative;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.17)
}

.search-input input {
    height: 35px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 15px;
}

.search-input p{
    height: 35px;
    width: 100%;
    border-top: 1px solid rgba(53, 53, 53, 0.281);
    padding: 10px 0 10px 10px;
}

.search-input .icon {
    background-color: transparent;
    border: none;
    height: 35px;
    width: 35px;
    line-height: 35px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    font-weight: 600;
    color: rgb(20, 113, 220);
    cursor: pointer;
}

/* .img-fluid{
    transform: translate(-50%, -50%) scale(0);
} */

.img-fluid:hover{
    transition: all 300ms ease-in-out;
    position: absolute;
    top: 5%;
    right: 10%;
    left: 10%;
    bottom: 5%;
    transform: translate(-50%, -50) scale(1);
    z-index: 1;
}






/* search appearances */

.search_result{
    position: relative;
    height: 10vh;
    width: 100%;
    border: 0px solid rgba(0, 0, 0, 0.342);
    border-radius: 5px;
    box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.37)
}

.search_result a img{
    border-radius: 50%;
    height: 45px;
    width: 45px;
    position: absolute;
    top: 10px;
    left: 8px;
}

.search_result a{
    text-decoration: none;
}

.search_result a #uname{
    position: absolute;
    top: 8px;
    left: 10%;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.897);
}

.search_result a #name{
    position: absolute;
    top: 52%;
    left: 10%;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.63);
}

.search_result:hover{
    background-color: rgba(107, 107, 107, 0.473);
    box-shadow: none;
}


